<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/3100c099-f7a3-4c34-a1cc-3e921121860a/resourceGroups/tyler-portal/providers/Microsoft.Web/sites/tyler-portal-webapi</ResourceId>
    <ResourceGroup>tyler-portal</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tyler-portal-webapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>163ce172-d080-4792-8ddb-0f272a8d09cc</ProjectGuid>
    <PublishUrl>https://tyler-portal-webapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$tyler-portal-webapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>